<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>TITLE</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/icon/favicon-16x16.png">
    <link rel="manifest" href="../static/icon/site.webmanifest">
    <link rel="mask-icon" href="../static/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="static/upload.js"></script>

</head>
<body>
    <div class="file_upload">
        <form class="Upload">
            <label for="myFile">Select file to process:</label>
            <div class="file_form">
                <input type="file" id="myFile" name="filename" class="selector">
                <input type="text" id="fileName" name="file" class="file_name">
                <input type="button" value="Upload" class="upload_button" onclick="uploadFile()">
            </div>
        </form>
    </div>

    <div class="file_list">
        {% for item in files %}
            <a class="file_link" href="http://localhost:8005/download/{{ item }}">{{ item }}</a>
        {% endfor %}
    </div>

</body>
</html>